body {
  background-color: rgb(21, 107, 78);
  min-height: 100vh;
  margin: 0;
}
.intro {
  margin-left: 20px;
  margin-bottom: 4rem;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 20px;
}

.form-group label {
  width: 380px;
  margin-bottom: 2rem;
}

.form-group select {
  margin-bottom: 2rem;
}

.form-group input {
  flex: 0.1;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.hidden-text {
  display: none;
  margin-bottom: 2rem;
}

.button-row {
  display: flex;
  justify-content: flex-start;
  gap: 310px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.category {
  margin-left: 20px;
}

table {
  width: 100%;
  max-width: 400px;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: 20px;
}

td {
  padding: 6px 10px;
  border-bottom: none;
}

.amount {
  text-align: right;
  font-weight: bold;
}
